@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Archivo', sans-serif;
  }
}

@layer utilities {
  @keyframes fade-in-out {
    0% { opacity: 0; transform: translate(-50%, 10px); }
    20% { opacity: 1; transform: translate(-50%, 0); }
    80% { opacity: 1; transform: translate(-50%, 0); }
    100% { opacity: 0; transform: translate(-50%, -10px); }
  }
  
  .animate-fade-in-out {
    animation: fade-in-out 3s ease-in-out forwards;
  }
}